<%- include('header'); -%>

    <div>
        <h2>3D Model Upload</h2>
        <h3><%- id %></h3>
        <form action="/showroom/<%- id %>/edit" method="post" enctype="applicatio/json">
            <label>File</label>
            <input type="file" id="gltffile" name="gltffile">
            <br>
            <label>Position X</label>
            <input type="number" id="positionx" name="positionx" step="any">
            <br>
            <label>Position Y</label>
            <input type="number" id="positiony" name="positiony" step="any">
            <br>
            <label>Position Z</label>
            <input type="number" id="positionz" name="positionz" step="any">
            <br>
            <label>Rotation X</label>
            <input type="number" id="rotationx" name="rotationx" step="any">
            <br>
            <label>Rotation Y</label>
            <input type="number" id="rotationy" name="rotationy" step="any">
            <br>
            <label>Rotation Z</label>
            <input type="number" id="rotationz" name="rotationz" step="any">
            <br>
            <label>Scale</label>
            <input type="number" id="scale" name="scale" step="any">
            <br>
            <input type="submit">
            <br>
        </form>
    </div>
    <div>
        <a href="/">Back to Scene</a>
    </div>
    <button class="open-button" onclick="function openUpdateForm() {
        document.getElementById('uploadForm').style.display = 'block';
    }
    openUpdateForm()">Upload 3D Model</button>
    <div class="form-popup" id="uploadForm">
        <form action="/upload/<%- id %>" class="form-container" method="post" enctype="multipart/form-data">
            <h1>Upload 3D Model</h1>

            <label>File</label>
            <input type="file" id="gltffile" name="gltffile" required>
            <label>Position X</label>
            <input type="number" id="positionx" name="positionx" step="any">
            <br>
            <label>Position Y</label>
            <input type="number" id="positiony" name="positiony" step="any">
            <br>
            <label>Position Z</label>
            <input type="number" id="positionz" name="positionz" step="any">
            <br>
            <label>Rotation X</label>
            <input type="number" id="rotationx" name="rotationx" step="any">
            <br>
            <label>Rotation Y</label>
            <input type="number" id="rotationy" name="rotationy" step="any">
            <br>
            <label>Rotation Z</label>
            <input type="number" id="rotationz" name="rotationz" step="any">
            <br>
            <label>Scale</label>
            <input type="number" id="scale" name="scale" step="any">

            <button type="submit" class="btn">Upload</button>
            <button type="button" class="btn cancel" onclick="function closeUpdateForm() {
                document.getElementById('uploadForm').style.display = 'none';
            }
            closeUpdateForm()">Cancel</button>
        </form>
    </div>

<%- include('footer'); -%>
