<%- include('header'); -%>

<div class="showrooms">
    <ol>
        <li>
            <ul class="header">
                <li style="width: 200px">
                    <h3>filename</h3>
                </li>
                <li>PosX</li>
                <li>PosY</li>
                <li>PosZ</li>
                <li>RotX</li>
                <li>RotY</li>
                <li>RotZ</li>
                <li>Scale</li>

            </ul>
        </li>
        <%- models %>
    </ol>
</div>
<div>
    <button class="open-button" onclick="function toggleAddForm() {
        if(document.getElementById('addForm').style.display === 'block') {
            document.getElementById('addForm').style.display = 'none';
        } else {
            document.getElementById('addForm').style.display = 'block';
        }
    }
    toggleAddForm()">Open Inventory</button>
    <div class="form-popup" id="addForm">
        <form action="/showroom/<%- id %>/edit" class="form-container" method="post" enctype="application/json">
            <h3>Add 3D Model</h3>
            <label>3D Model</label>
            <select name="files" id="files">
                <%- selection %>
            </select>
            <br>
            <label>3D Model Name</label>
            <input type="text" id="name" name="name" required>
            <br>
            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel" onclick="function closeAddForm() {
                document.getElementById('addForm').style.display = 'none';
            }
            closeAddForm()">Cancel</button>
        </form>
    </div>
    <br>
    <a href="/showrooms">Back</a>
    <br>
    <a href="/showroom/<%- id %>">Show Scene</a>
</div>

<%- include('footer'); -%>